<section id="footer" class="footer footer-map">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                <h3 class="widget-title"></h3>

                <ul class="unstyled">
                    <li><a href="/Kurumsal">KURUMSAL</a></li>
                    <li><a href="/Cozumlerimiz">ÇÖZÜMLERİMİZ</a></li>
                    <li><a href="/Hizmetlerimiz">HİZMETLERİMİZ</a></li>
                    <li><a href="/Referanslarımız">REFERANSLARIMIZ</a></li>
                    <li><a href="/iletisim">İLETİŞİM</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <div class="footer-logo">
                    <img src="/images/logofot.png" alt="footerlogo">
                </div>

                <ul class="social-icon dark unstyled">
                    <li>
                        <a title="Twitter" href="https://twitter.com/BluetechPC">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-twitter"></i></span>
                        </a>
                        <a title="Facebook" href="https://www.facebook.com/Bluetech-Bilgisayar-100660611430953/?modal=admin_todo_tour">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-facebook"></i></span>
                        </a>
                        <a title="linkedin" href="https://www.linkedin.com/in/bluetech-bilgisayar-156267199/">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-linkedin"></i></span>
                        </a>
                        <a title="instagram" href="https://www.instagram.com/bluetechbilgisayar/?hl=tr">
                            <span class="icon-pentagon wow bounceIn animated" style="visibility: visible;"><i class="fa fa-instagram"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <h3 class="widget-title"></h3>
                <h4><i class="fa fa-compass"></i> Adres:</h4>
                <p>Yakuplu Mah. 59 Sk. Aston Beylikdüzü No:40 B Blok D:6 Beylikdüzü/İSTANBUL</p>

                <h4><i class="fa fa-envelope-o"></i> EMAİL:</h4>
                <p>info@bluetechbilgisayar.com</p>

                <h4><i class="fa fa-phone"></i> Telefon:</h4>
                <p>(0212) 809 19 43-44 Pbx</p>


            </div>
        </div><!--/ Row end -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright-info">
                    © 2019 Bluetech Bilgisayar Tüm Hakları Saklıdır.
                </div>
            </div>
        </div><!--/ Row end -->
        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix" data-original-title="" title="">
            <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
        </div>
    </div><!--/ Container end -->
</section>

