<!-- Slider start -->
<section id="home" class="no-padding">

    <div id="main-slide" class="ts-flex-slider">

        <div class="flexSlideshow flexslider">
            <ul class="slides">
                <li>
                    <div class="overlay2">
                        <img class="" src="/images/slider/bg1.jpg" alt="slider">
                    </div>
                    <div class="flex-caption slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated2">
                                KVKK İLE UYUMLU
                            </h2>
                            <h3 class="animated3">
                               SİSTEMİNİZİ KVKK'YA UYUMLU HALE GETİRİYORUZ!
                            </h3>
                            <p class="animated4"><a href="Cozumlerimiz/kvkk-uyumlu-teknik-surecler" class="slider btn btn-primary white">İNCELE</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overlay2">
                        <img class="" src="/images/slider/bg2.jpg" alt="slider">
                    </div>
                    <div class="flex-caption slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated4">
                                SİZE ÖZEL KURUMSAL ÇÖZÜMLER
                            </h2>
                            <h3 class="animated5">
                                DAHA FAZLASI İÇİN...
                            </h3>
                            <p class="animated6"><a href="Cozumlerimiz" class="slider btn btn-primary white">İNCELE</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overlay2">
                        <img class="" src="/images/slider/bg3.jpg" alt="slider">
                    </div>
                    <div class="flex-caption slider-content">
                        <div class="col-md-12 text-center">
                            <h2 class="animated7">
                                DENEYİM TECRÜBE
                            </h2>
                            <h3 class="animated8">
                                DENEYİMLİ ÇALIŞANLARLA BİRE BİR HİZMET
                            </h3>
                            <h4 class="animated8">
                               CANLI DESTEK AKTİF
                            </h4>
                            <p><strong>Çalışma Saatlerimiz </strong>( Hafta İçi, 9:00 - 17:30 )</p>


                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--/ Main slider end -->
</section> <!--/ Slider end -->