{% extends 'base.html.twig' %}

{% block title %}New Mesaj{% endblock %}

{% block body %}
    <h1>Create new Mesaj</h1>

    {{ include('admin/mesaj/_form.html.twig') }}

    <a href="{{ path('admin_mesaj_index') }}">back to list</a>
{% endblock %}
